<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttms.dao.PictureDao">
	
	<resultMap type="Picture" id="PictureResult">
		<result property="id" column="id" />
		<result property="url" column="url" />
		
		<association property="film" column="filmId" select="com.ttms.dao.FilmDao.findById"></association>
	</resultMap>
	
	<select id="findByFilmId" parameterType="Integer" resultMap="PictureResult">
		select * from t_picture where filmId = #{id}
	</select>

</mapper>